---
---
@charset "utf-8";
@import "reset.scss";
@import "color.scss";
@import "all.css";
@import url(https://fonts.googleapis.com/css?family=Muli:300,400);

$inner-width: 960px;

@mixin rounded-corners($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}

@mixin floating-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

html {
    margin:0;
    padding:0;
    height: 100%;
    background-color: $light-grey;
}

body {
    margin: 0 auto;
    max-width: 70em;
    font-family: "Muli", Verdana, Geneva, Tahoma, sans-serif;
    background-color: $white;
}

header {
    padding: 0.5em 0.5em 0.5em 1.0em;    
}

nav {
    background-color: $black;
    overflow: hidden;

    > ul {
        @include floating-list;
        background-color: $black;
        padding: 0.5em 0.5em;
        overflow: hidden;

        li {
            float: left;
            padding: 0.50em;

            a {
                display: block;
                font-size: 1.0rem;
                //font-weight: bold;
                text-transform: uppercase;
                color: $white;
                &:hover {
                    color: $blue;
                }
                &.active {
                    &:hover {
                        color: $white;
                    }
                }
            }

            &.active {
                background-color: $blue;
            }
        }
    }
}

nav > ul.categories {
    float: left;
}

main { 
    padding: 1.0em;

    > section {
        overflow: auto;

        p {
            line-height: 1.5em;
        }

        article {
            overflow: auto;
        }

        article + article {
            border-top: 2px dotted $light-grey;
            margin-top: 0.5em;
        }
    }

    img {
        width: 100%;
        display: block;
    }
}

footer {
    background-color: $black;
    overflow: hidden;
    margin: 0;
    padding: 0;
    clear: both;

    ul {
        @include floating-list;
        overflow: hidden;
        margin-left: 0.5em;

        li {
            float: left;
            padding: 0.5em 0.5em;
        }
    }

    p {
        padding: 0.5em 1.0em;
        font-size: 0.75rem;
    }
}

aside {
    font-size: 0.8rem;
    color: #444;
    margin: 0;
    padding: 2.0em;

    table, td, th {
        color: #444;
        padding: 0.2em;
        font-size: 1.0em;
    }

    td:first-child {
        width: 4em;
        text-align: center;
    }

    h4 {
        margin-top: 3.0em;
    }
}

ul {
    list-style-type: square;
    line-height: 1.5em;
}

ul.info-list {
    @include floating-list;
    display: inline-block;

    li {
        float: left;
        padding: 0.25em;
        font-size: 0.75rem;
    }
}

ul.pager {
    @include floating-list;
    text-align: center;
    width: 20em;
    margin: 2em auto;

    li {
        float: left;
        font-size: 0.7r5em;
        padding: 0.75em;
    }

    .previous, .next {
        > span {
            visibility: hidden;
        }
    }
}

a {
    text-decoration: none;
    color: $blue;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

h1 {
    font-size: 2.0rem;
    color: $violet;
}

h2 {
    font-size: 1.5rem;

    a {
        color: $violet;
    }
}

p {
    text-align: justify;
    line-height: 1.5em;
}

.button {
    text-align:center;
}

.label {
    background-color: $blue;
    color: $white;
    padding: 0.4em;
    font-size: 0.8rem;
    font-weight: bold;
    display: block;
    @include rounded-corners(0.1em);
}

.invisible {
    visibility: hidden;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.cofinpro {
    a {
        color: #FF4500;
        font-weight: bold;
    }
}

.book {
    overflow: hidden;
    padding: 1.0em;
    line-height: 1.5em;
    clear: both;

    img {
        width: 8.0em;
        min-width: 60px;
        margin: auto; 
        display: block;
        padding: 0.5em;
    }

    a {
        color: $white;
        border: 2px solid $white;
        font-weight: bold;
        font-size: 1.2rem;
        padding: 0.5em;
        margin-top: 2.0em;
        text-align: center;
        width: 10em;
        display: block;
        @include rounded-corners(1.0em);
        &:hover {
            background-color: $white;
            color: $violet;
        }
    }
}

.gh-avatar {
    img {
        display: block;
        margin: 0 auto;
        width: 3em;
        height: 3em;
        border: 2px solid $light-grey;
        @include rounded-corners(50%);
    }

    p {
        text-align: center;
        font-weight: bold;
    }
}

@media (min-width: 415px) {
    aside {
        margin-left: 60em;
    }

    main {
        float: left;
        margin-right: 2em;
        width: 45em;
        &:after {
            clear: both;
        }
    }

    .book {
        img {
            float: right;
            margin: 0 2em;
        }
    }
}

@media (max-width: 414px) {
    html {
        font-size: 0.6em
    }
} 
