---
---
@charset "utf-8";
@import "reset.scss";
@import "color.scss";
@import "all.css";
@import url(https://fonts.googleapis.com/css?family=Muli:300,400);

$inner-width: 960px;

@mixin rounded-corners($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}

html {
    margin:0;
    padding:0;
    height: 100%;
    background-color: $light-grey;
}

body {
    margin: 0 auto;
    min-width: 20em;
    max-width: 70em;
    font-size: 12pt;
    font-family: "Muli", Verdana, Geneva, Tahoma, sans-serif;
    background-color: $white;
}

header {
    padding: 0.5em 0.5em 0.5em 1.0em;    
}

nav {
    background-color: $black;
    overflow: hidden;

    > ul {
        list-style-type: none;
        background-color: $black;
        margin: 0;
        padding: 0.5em 0.5em;
        overflow: hidden;

        li {
            float: left;
            padding: 0.5em;

            a {
                display: block;
                font-size: 1.0em;
                font-weight: bold;
                text-transform: uppercase;
                color: $white;
                &:hover {
                    color: $blue;
                }
                &.active {
                    &:hover {
                        color: $white;
                    }
                }
            }

            &.active {
                background-color: $blue;
            }
        }
    }
}

nav > ul.social-media {
    float: right;
}

nav > ul.categories {
    float: left;
}

main { 
    padding: 1.0em;

    > section {
        overflow: auto;

        p {
            line-height: 1.5em;
        }

        article {
            overflow: auto;
        }

        article + article {
            border-top: 0.5px solid $grey;
            margin-top: 0.5em;
        }
    }

    img {
        width: 100%;
        display: block;
    }
}

footer {
    background-color: $black;
    overflow: hidden;
    margin: 0;
    padding: 0;
    clear: both;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        li {
            float: left;
            padding: 0.5em 1.0em;
        }
    }

    p {
        padding: 0.5em 1.0em;
        font-size: 0.75em;
    }
}

aside {
    font-size: 0.8em;
    color: #444;
    margin: 0;
    padding: 2.0em;

    table, td, th {
        color: #444;
        padding: 0.2em;
        font-size: 1.0em;
    }

    td:first-child {
        width: 4em;
        text-align: center;
    }

    h4 {
        margin-top: 3.0em;
    }
}


ul.info-list {
    overflow: hidden;
    padding: 0;
    margin: 0;

    li {
        float: left;
        padding: 0.25em;
        font-size: 0.75em;
    }
}

ul.pager {
    overflow: hidden;
    padding: 0;
    margin: 3em 0 2em 0;
    display: block;
    text-align: center;

    li {
        float: left;
        font-size: 0.75em;
        padding: 0.75em;
        min-width: 30%;
    }

    .previous, .next {
        > span {
            visibility: hidden;
        }
    }
}

a {
    text-decoration: none;
    color: $blue;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

h1 {
    font-size: 2.0em;
    color: $violet;
}

h2 {
    font-size: 1.5em;

    a {
        color: $violet;
    }
}

p {
    text-align: justify;
    line-height: 1.5em;
}

.button {
    text-align:center;
}

.label {
    background-color: $blue;
    color: $white;
    padding: 0.4em;
    font-size: 0.8em;
    font-weight: bold;
    display: block;
    @include rounded-corners(0.1em);
}

.invisible {
    visibility: hidden;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.cofinpro {
    a {
        color: #FF4500;
        font-weight: bold;
    }
}

.book {
    overflow: hidden;
    padding: 1.0em;
    line-height: 1.5em;
    clear: both;

    img {
        float: right;
        width: 8.0em;
        min-width: 60px;
        margin: 0 2.0em;
    }

    a {
        color: $white;
        border: 2px solid $white;
        font-weight: bold;
        font-size: 1.2em;
        padding: 0.5em;
        margin-top: 2.0em;
        text-align: center;
        width: 10em;
        display: block;
        @include rounded-corners(1.0em);
        &:hover {
            background-color: $white;
            color: $violet;
        }
    }
}

.gh-avatar {
    img {
        display: block;
        margin: 0 auto;
        width: 3em;
        height: 3em;
        border: 2px solid $light-grey;
        @include rounded-corners(50%);
    }

    p {
        text-align: center;
        font-weight: bold;
    }
}

@media (min-width: 40em) {
    aside {
        margin-left: 50em;
    }

    main {
        float: left;
        width: 47em;
        margin-right: 2em;
        &:after {
            clear: both;
        }
    }
}
