*.swp
_site/
.jekyll-metadata
serve.sh
Gemfile.lock
.DS_Store/
.DS_Store
build.sh
/.idea/
*.iml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
