---
layout: default
navigation: none
---
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Hybride Softwareentwicklung</h1>
                    <p class="lead fw-normal text-white-50 mb-4">
                        Mit meinen Co-Autoren 
                        beschreibe ich einen Ansatz, der die Vorteile agiler und klassischer Vorgehensweisen 
                        in einem Modell vereint und stellt die Praxistauglichkeit anhand von Case Studies 
                        unter Beweis.
                    </p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-green btn-lg px-4 me-sm-3" href="https://amzn.to/39oKRQE">
                            <i class="fab fa-amazon"></i> Kaufen
                        </a>
                        <!-- <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <img class="img-fluid rounded-3 my-5 cover" src="/images/hybride-softwareentwicklung-cover.jpg" alt="Buchcover" />
            </div>
        </div>
    </div>
</header>
<!-- TODO: add testimonials from dbf here -->
<section class="py-5 bg-light" id="projects">
    {% include projects.html %}
</section>
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">Aus dem Blog</h2>
                    <p class="lead fw-normal text-muted mb-5">Die letzten drei Blog-Beiträge</p>
                </div>
            </div>
        </div>
        <!-- Die letzten 3 Blog-Einträge anzeigen -->
        <div class="row gx-5">
            {% for post in site.posts limit:3 %}
            {% include post_tile.html %} 
            {% endfor %}
            <div class="text-end mb-5 mb-xl-0">
                <a class="text-decoration-none" href="/blog/index.html">
                    Mehr Beiträge
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>