<h2>Hybride Softwareentwicklung</h2>
<p> <img src="/images/hybride-softwareentwicklung-cover.jpg" class="banner">
Agile Softwareentwicklung erlebt gegenwärtig einen großen Hype. 
Neuerdings ist aber auch ein Gegentrend zu diesem Hype zurück zu den 
klassischen Vorgehensmodellen zu bemerken. Hybride Softwareentwicklung 
beschreibt einen Ansatz, der die Vorteile beider Welten in einem Modell 
vereint und stellt seine Praxistauglichkeit anhand von Case Studies 
unter Beweis. Zusammen mit den Co-Autoren erläutere ich die Vorteile 
der hybriden Softwareentwicklung und diskutiere praxisorientierte 
Lösungsansätze für IT-Manager und Projektleiter.
<br>
<a href="https://www.amazon.de/Hybride-Softwareentwicklung-klassischen-Methoden-Xpert-press/dp/3642550630/ref=sr_1_1?s=books&ie=UTF8&qid=1489313790&sr=1-1&keywords=hybride+softwareentwicklung" class="buy">Kaufen bei amazon</a>  
</p>
