<section>
    <div class="card bg-light">
        <div class="card-body">
            <h5><i class="fa fa-comment"></i> Kommentar</h5>
            
            <div class="mt-3">
                    <p>Du möchtest diskutieren oder einen Kommentar zu dem Beitrag hinterlassen?</p>
    <small class="text-muted">Dieser Blog hat keine öffentliche Kommentarfunktion, aber ich freue mich jederzeit über eine
    <a href="mailto:rollin.hand@gmx.de">Mail</a> mit kritischen Anmerkungen, Feedback oder auch einfach nur 
    Lob an meine Mail-Adresse <a href="mailto:rollin.hand@gmx.de">rollin.hand[@]gmx.de</a>.</small>
            </div>
        </div>
    </div>
</section>