<div class="container">
    <div class="footer_bottom">
    	<div class="row">
    		<div class="col-lg-12">
				Copyright &copy; 2017, Kivio Theme based on Unique Template by <a href="http://webthemez.com">WebThemez.com</a>.
				<ul class="footer-actions">
					<i class="fa fa-feed subscribe"></i> <a href="/blog/atom.xml">Atom</a></li>
					<li><a href="/imprint">Imprint</a></li>
					
				</ul>  
			</div>	
    	</div>
    </div>
</div>
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.js"></script>
<script src="/js/jquery.isotope.js"></script>
<script src="/js/bootstrap.min.js"></script>