<div class="footer dark">
	<footer>
		<p>Copyright &copy; 2017 - 2018, Kivio Theme based on Unique Template by <a href="http://webthemez.com">WebThemez.com</a>.</p>
		<p><strong>Haftungshinweis:</strong> Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links.
			Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
		</p>
		<p>Björn Berg <br>
			Bargmannstr. 40<br>
			45127 Essen</p>
		<p><span><i class="fa fa-phone"></i> +49 (0151) 15010803</span></p>
		<p><span><i class="fa fa-envelope"></i> rollin.hand@gmx.de</span></p>
		</p>
		<p><a href="privacy-policy/">Privacy Policiy / Disclaimer</a></p>
	</footer>
</div>
