<footer class="dark">
    <section>
        <ul>
            <li>
                <a href="mailto:rollin.hand@gmx.de">
                    <span class="button mail"><i class="fa fa-envelope"></i></span>
                    <span class="invisible">Mail</span>
                </a>
            </li>
            <li>
                <a href="https://www.xing.com/profile/Bjoern_Berg2" target="_blank" rel="me">
                    <span class="button xing"><i class="fab fa-xing"></i></span>
                    <span class="invisible">Xing</span>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/bjoernberg82" target="_blank" rel="me">
                    <span class="button linkedin"><i class="fab fa-linkedin"></i></span>
                    <span class="invisible">LinkedIn</span>
                </a>
            </li>
            <li>
                <a href="/blog/feed/atom.xml">
                    <span class="button atom"><i class="fas fa-rss subscribe"></i></span>
                    <span class="invisible">Atom/RSS</span>
                </a>
            </li>

            <li><a href="/imprint/">Impressum</a></li>
            <li><a href="/privacy-policy/">Datenschutz</a></li>
        </ul>
    </section>
    <section>
        <p>&copy; 2017 - 2020, Kivio Theme based on Unique Template by <a href="http://webthemez.com">WebThemez.com</a>.</p>
    </section>
</footer>
