<!-- Hauptnavigation -->
<div class="heading dark">
	<header>
			<div class="indent">
					<div class="logo">
							<a href="/"><img src="{{site.url}}/images/kivio-white.png" alt="Logo"></a>
					</div>
					<nav class="navigation">
							<div class="main-navigation">
								<ul class="navbar" id="mainNav">
									<li><i class="fas fa-rss subscribe"></i> <a href="/blog/feed/atom.xml">Atom</a></li>
									<li><i class="fas fa-rss subscribe"></i> <a href="/blog/feed/rss.xml">RSS</a></li>
								</ul><!-- /mainNav -->
							</div>
					</nav>
			</div>
	</header>
</div>
