<div class="container">
	<div class="header_box">
	  <div class="logo"><a href="/"><img src="/images/kivio-white.png" alt="logo"></a></div>
	  	<nav class="navbar navbar-inverse" role="navigation">
	  	  <!-- Nur auf kleinen Bildschirmen zu sehen -->
		  <div class="navbar-header">
		    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"> 
		    	<span class="sr-only">Toggle navigation</span> 
		    	<span class="icon-bar"></span> 
		    	<span class="icon-bar"></span> 
		    	<span class="icon-bar"></span>
		    </button>
		  </div>
		  <div id="main-nav" class="collapse navbar-collapse navStyle">
				<ul class="nav navbar-nav" id="mainNav">
					{% for node in site.pages %}
						<!-- Do not list pages with no title or front matter 'navigation: none' -->
						{% if node.title or node.navigation != 'none' %}
							{% if page.url == node.url %}
								<li class="active"><a class="active" href="{{ node.url }}">{{ node.title }}</a></li>
							{% else %}
								<li><a href="{{ node.url }}">{{ node.title }}</a></li>
							{% endif %}	
						{% endif %}
					{% endfor %}
				</ul><!-- /mainNav -->
		  </div>
	 	</nav>
	</div>
</div>
</div>