<ul class="infoList">
	<li><i class="fa fa-clock-o"></i> {{ post.date | date: "%d.%m.%Y" }}</li>
	<li><i class="fa fa-star"></i> {{ post.categories }}</li>
	{% if post.tags != empty %}
		<li><i class="fa fa-tags"></i> {{ post.tags | join: ', '}}</li>
	{% endif %}								
    {% if !post.cofinpro and post.cofinpro != empty %}
        <li><i class="fa fa-medium"></i> 
            <span class="cofinpro">
                <a href="{{ post.cofinpro }}">Cofinpro</a>
            </span>
        </li>
    {% endif %}    
</ul>
