<nav>
    {% assign category_list = site.categories | sort %}
    <ul class="categories">
    {% for category in category_list %}
        {% assign name = category | first %}
        <li><a href="/category/{{ name }}">{{ name }}</a></li>
    {% endfor %}
    </ul>

    <ul class="social-media">
        <li>
            <a href="mailto:rollin.hand@gmx.de">
                <span class="button mail"><i class="fa fa-envelope"></i></span>
                <span class="invisible">Mail</span>
            </a>
        </li>
        <li>
            <a href="https://www.xing.com/profile/Bjoern_Berg2" target="_blank" rel="me">
			    <span class="button xing"><i class="fab fa-xing"></i></span>
                <span class="invisible">Xing</span>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/bjoernberg82" target="_blank" rel="me">
			    <span class="button linkedin"><i class="fab fa-linkedin"></i></span>
                <span class="invisible">LinkedIn</span>
            </a>
        </li>
        <li>
            <a href="/blog/feed/atom.xml">
                <span class="button atom"><i class="fas fa-rss subscribe"></i></span>
                <span class="invisible">Atom/RSS</span>
            </a>
        </li>
    </ul>
</nav>
