<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="/"><img class="logo" src="{{site.url}}/images/kivio-white.png" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% assign category_list = site.categories | sort %}
            <ul class="navbar-nav mb-2 mx-1 mb-lg-0">
                {% for category in category_list %}
                    {% assign name = category | first %}
                    {% assign downcased = name | slugify %}
                    {% if page.url contains downcased or page.categories contains name %}
                        <li class="nav-item mx-1 active"><a class="nav-link active" href="/category/{{downcased}}">{{name}}</a></li>
                    {% else %}
                        <li class="nav-item mx-1"><a class="nav-link" href="/category/{{downcased}}">{{name}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <a href="/about/">{% avatar rollinhand %}</a>
            </ul>
        </div>
    </div>
</nav>
