<div class="col-lg-4 mb-5">
    <div class="card h-100 shadow border-0">
        <div class="card-body p-4">
            <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{ post.categories }}</div>
            <a class="text-decoration-none link-dark stretched-link" href="{{ post.url }}">
                <h5 class="card-title mb-3">{{ post.title }}</h5>
            </a>
            <p class="card-text mb-0">{{ post.excerpt }}</p>
        </div>
        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
            <div class="d-flex align-items-end justify-content-between">
                <div class="d-flex justify-content-between align-items-center">
                    {% avatar rollinhand %}
                    <div class="small ms-3">
                        <div class="fw-bold">Björn Berg</div>
                        <div class="text-muted">{{ post.date | date: "%d.%m.%Y" }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
