<section>
	<article class="gh-avatar">{% avatar rollinhand %}
		<p><span class="gh-realname">Björn Berg</span></p>
	</article>
	<article class="about">
		<p>Hier blogge ich über verschiedene Themen aus meiner Praxis als Softwareentwickler
		   in der Energie- und Finanzwirtschaft. Aktuell beschäftige ich mich mit den Themen DevOps,
			der nächsten Evolution im Java EE-Umfeld und Machine Learning mit Python und Java.</p>
	</article>
</section>
<section>
	<h4>Publikationen</h4>
	<table class="publications">
		{% for pub in site.data.publikationen %}
		<tr>
			<td><span class="label year">{{ pub.jahr }}</span></td>
			<td><span class="title">{{ pub.titel }}</span></td>
		</tr>
		<tr>
			<td></td>
			<td><span class="distributor">{{ pub.verlag }}</span></td>
		</tr>
		{% endfor %}
	</table>
</section>
<section>
	<h4>Projekte</h4>
	<p>Aktuelle Projekte an denen ich arbeite, veröffentliche ich direkt auf
		<a href="https://github.com/rollinhand?tab=repositories">GitHub</a>.
		In den README-Dateien der Projekte finden sich alle notwendigen
		Informationen. Zu einem Großteil der Projekte finden sich auch
		Blog-Artikel.
	</p>
</section>
<section>
    <h4>Themen</h4>
    {% assign category_list = site.categories | sort %}
    <table>
    {% for category in category_list %}
        {% assign name = category | first %}
        {% assign size = site.categories[name] | size %}
        <tr>
            <td><span class="label">{{ size }}</span></td>
            <td><a href="/category/{{ name }}">{{ name }}</a></td>
        </tr>
    {% endfor %}
    </table>
</section>
