$blue: #005490;
$white: #ffffff;
$black: #000000;
$grey: #222;
$light-grey: #DDDDDD;
$sidebar-grey: #999;
$green: #0d4b4d;

.light {
    background-color: $white;
    color: $grey;
}

.dark {
    background-color: $black !important;
    color: $white;
}

.grey {
    background-color: $grey;
    color: $black;
}

.light-grey {
    background-color: $light-grey;
    color: $black;
}

.blue {
    background-color: $blue;
    color: $white;
}

.green {
    background-color: $green;
    color: $white;
}