@import url(bootstrap-5.1.3.css);
@import url(all.css);
@import url(https://fonts.googleapis.com/css?family=Muli:300,400);

body {
    font-family: "Muli", Verdana, Geneva, Tahoma, sans-serif
}

.nav-item:hover, .nav-item .active {
    border-radius: 5px;
    background-color: #1a1a1a
}

img.avatar {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%
}

img.cover {
    width: 12.0em;
    min-width: 60px
}

.text-purple-100 {
    color: #812577
}

.text-purple-50 {
    color: #ebbae6
}

.bg-purple-50 {
    background-color: #ebbae6
}

.bg-gray-900 {
    color: #e6e6e6
}

.btn-purple {
    background-color: #a9309c;
    color: #fff
}

.btn-purple:hover {
    background-color: #812577;
    color: #fff
}

.btn-green {
    background-color: #147679;
    color: #fff
}

.btn-green:hover {
    background-color: #0d4b4d;
    color: #fff
}
