---
layout: default
---
<section id="posts">
	<div class="posts_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<!-- Alle Blog-Einträge anzeigen -->
					{% for post in paginator.posts %}
					<div class="daybox">
						<div class="entryBox">
							<h2 class="entryTitle"><a href="{{ post.url }}">{{ post.title }}</a></h2>
							<!-- Author, Date and Comments -->
							<div class="entryInfo">
								<ul class="infoList">
									<li>{% icon fa-clock-o %} {{ post.date | date: "%d.%m.%Y" }}</li>
									<li>{% icon fa-user %} {{ post.creator }}</li>
									<li>{% icon fa-star %} {{ post.categories }}</li>
									{% if post.tags != empty %}
										<li>{% icon fa-tags %} {{ post.tags }}</li>
									{% endif %}								
								</ul>
							</div>
							<!-- / Author, Date and Comments -->
							<div class="entryContent">
								<div class="content">
								{{ post.excerpt }}
								</div>
							</div>
						</div>    
					</div>
					{% endfor %}
					{% include pagination.html %}
				</div>
				<div class="col-lg-4">
					{% include sidebar.html %}
				</div>
			</div>
		</div>
	</div>
</section>