<!DOCTYPE html>
<html lang="de">
<head>
    <!-- HTML metadata and includes -->
    {% include head.html %}
	<title>{{ site.name }}</title>
</head>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- HTML 5 NAVIGATION -->
        {% include navigation.html %}

	    <!-- MAIN CONTENT -->
        <section class="content light">
            {{ content }}
        </section>
    </main>

    <!-- HTML5 FOOTER -->
	{% include footer.html %}

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
