<html>
<head>
    <!-- HTML metadata and includes -->
    {% include head.html %}
	<title>{{ site.name }}</title>
</head>
<body>
	<!-- HTML 5 HEADER -->
	{% include header.html %}

    <!-- HTML 5 NAVIGATION -->
    {% include navigation.html %}

	<!-- MAIN CONTENT -->
    <main class="light indent">
        <section class="content light">
            {{ content }}
        </section>
    </main>

	<!-- SIDEBAR -->
    <aside>
        {% include sidebar.html %}
    </aside>

    <section class="book blue">
        <!-- Commercial for my book -->
        {% include book.html %}
    </section>
    <!-- HTML5 FOOTER -->
	{% include footer.html %}
	<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
