<html>
<head>
	<!-- Header information like meta information and script resources -->
    {% include head.html %}
	{% assign post = page %}
	<title>{{ post.title }} - {{ site.name }}</title>
</head>
<body>
    <!-- HTML 5 HEADER -->
    {% include header.html %}

    <!-- HTML 5 NAVIGATION -->
    {% include navigation.html %}

    <!-- MAIN CONTENT -->
    <main class="content light">
        <h2>{{ post.title }}</h2>
        {% include infolist.html %}
        {{ post.summary }}

		<!-- Der Inhalt des Postings -->
		{{ post.content }}

        <!-- Hinweis auf fremden Blog-Artikel -->
        {% if post.cofinpro %}
        <div class="disclaimer-bottom">
            <i class="fab fa-medium medium-logo"></i>
            <p>Dieser Artikel ist auch im <span class="cofinpro"><a href="{{ post.cofinpro }}">Cofinpro-Blog auf Medium</a> erschienen.<span> <span class="cofinpro"><a href="http://www.cofinpro.de">Cofinpro</a></span> ist ein Beratungsunternehmen mit Fokus auf die Finanzindustrie.</p>
        </div>
        {% endif %}    

        <!--<ul class="pager">
            <li class="previous">
                {% if post.previous.url %}
                <a href="{{ post.previous.url }}"><span><i class="fa fa-arrow-left"></i></span> {{ post.previous.title | truncate: 40}}</a>
                {% else %}
                <span>Previous</span>
                {% endif %}
            </li>
            <li class="next">
                {% if post.next.url %}
                <a href="{{ post.next.url }}">{{ post.next.title | truncate: 40}} <span><i class="fa fa-arrow-right"></i></span></a>
                {% else %}
                <span>Next</span>
                {% endif %}
            </li>
        </ul>-->
    </main>

    <aside>
		{% include sidebar.html %}
	</aside>

    <!-- HTML5 FOOTER -->
    {% include footer.html %}
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
